<!doctype html>
{% extends 'dummyapp/base_spr.html' %}
{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'index.css' %}"/>
<div id="back">
<h1>Life in a Village of INDIA</h1>
  <p id="para1">The soul of India lives in its villages, 60 percent of the population still lives in villages of India. Indian villages have a very beautiful and attractive lifestyle. The Villages are free from the hustle and bustle of a city life, villages are peaceful, calm, quite and full of greenery where one can breathe fresh air. The beauties of villages are described by the way villagers happily live in the small huts or a home, made by clay or mud. A big open area with trees at the front and a vegetable garden at the backyard, surrounded by the bamboos. The villagers are socially knit together, every evening they assemble in the village “Chopal” with their ‘hukkas’ and chatting and talking goes on till late the night.</p>

</div>

{% endblock %}


